.screen-register{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/bg-login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
        color: white;
        text-align: center;
        font-size: 80px;
        text-transform: uppercase;
    }
    td{
        padding: 10px 15px;
    }
    &__user{
        &__input{
            background: none;
            outline: none;
            border: none;
            width: 550px;
        }
        &__group{
            background-color: white;
            margin: auto;
            border-radius: 50px;
        }
        &__icon{
            cursor: pointer;
        }
    }
    &__lock{
        &__input{
            background: none;
            outline: none;
            border: none;
            width: 550px;
        }
        &__group{
            background-color: white;
            margin: auto;
            margin-top: 20px;
            border-radius: 50px;
        }
        &__icon{
            cursor: pointer;
        }
    }
    &__button{
        &__group{
            margin:auto;
            margin-top: 50px;
        }
        &__login,&__register{
            background-color: #FF2F2F;
            outline: none;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 30px;
            border-radius: 30px;
            width: 250px;
            padding: 10px;
            &:hover{
                color: orange;
                transition: linear 0.5s;
            }
        }
    }
    &__copyright{
        color: white;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}