nav.container.navbar.navbar-expand-md.navbar-light.bg-light{
    background: none !important;
    & .nav-item{
        font-weight: bold;
    }
    & .nav-item:hover{
        border-bottom: 2px solid red;
    }
    & .navbar-text{
        font-weight: bold;
        img{
            cursor: pointer;
        }
    }
}