.table-responsive{
    margin: 30px 0 0 30px;
}
.product-table{
    margin-top: 30px;
    & th{
        vertical-align: middle;
    }
}
.openForm{
    display: block;
    margin-top: 20px;
}
.hideForm{
    display: none;
}