select{
    outline: none;
    border:none;
}
.order-item{
    margin-bottom: 50px;
    & img {
        padding-left: 50px;
    }
    &__name{
        font-weight: bold;
        text-align: center;
    }
    &__price{
        text-align: center;
        font-size: 30px;
        color: red;
    }
    &__btn{
        outline: none;
        border:none;
        background-color: #FFD600;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
}
.title-filter{
    background-color: #28a745;
    padding: 5px;
    border-radius: 5px;
    color: white;
}